{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
<div class="container mt-3">
    <a href="{{ path('app_task_index') }}">< Retour à la liste</a>

    <h1>Modifier la tâche</h1>
    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
</div>
   
{% endblock %}
