{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1>Connexion</h1>

    <form action="{{ path('app_login') }}" method="post">
        <label for="username" class="form-label">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password" class="form-label">Mot de passe:</label>
        <input class="form-control" type="password" id="password" name="_password">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary mt-2">Se connecter</button>
    </form>

    {% if error %}
    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</div>

{% endblock %}